.formField {
  position: relative;
  height: 40px;
}
.formInput {
  width: 100%;
  height: 43px;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: var(--black-primary);
  border-radius: var(--border-radius-xxs);
  border: 1px solid var(--mask-black-thirdly);
  padding-left: 13px;
  padding-right: 40px;
  transition: 0.25s ease all;
}
.formInput:focus {
  font-family: 'Inter-Regular', sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: var(--black-primary);
  outline: 0;
  border: 1px solid var(--blue-primary);
}
.formInput::placeholder {
  font-family: 'Inter-Regular', sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: var(--mask-black-secondary);
  transition: 0.5s ease;
}
.formInput:focus::placeholder {
  color: transparent;
}
.formInput_error {
  border: 1px solid var(--red-primary);
}
.formInput__errorMessage {
  position: absolute;
  bottom: -15px;
  left: 0;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 12px;
  color: var(--red-primary);
}
.formFieldTextarea {
  position: relative;
}
.formTextarea {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 14px;
  color: var(--black-primary);
  text-transform: uppercase;
  border-radius: var(--border-radius-xxs);
  border: 1px solid var(--mask-black-thirdly);
  transition: 0.25s ease all;
  padding-top: 3px;
  padding-left: 13px;
  padding-right: 40px;
}
.formTextarea:focus {
  font-family: 'Inter-Regular', sans-serif;
  font-size: 14px;
  color: var(--black-primary);
  text-transform: uppercase;
  outline: 0;
  border: 1px solid var(--blue-primary);
  padding: 12px 40px 0px 13px;
}
.formTextarea::placeholder {
  position: absolute;
  top: 10px;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 14px;
  color: var(--mask-black-secondary);
  text-transform: none;
  transition: 0.5s ease;
}
.formTextarea:focus::placeholder {
  color: transparent;
}
.formTextarea_error {
  border: 1px solid var(--red-primary);
}
.formTextarea__errorMessage {
  position: absolute;
  bottom: -15px;
  left: 0;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 12px;
  color: var(--red-primary);
}
.formField__button {
  position: absolute;
  right: 13px;
  fill: var(--mask-black-secondary);
  transition: 0.2s ease;
  cursor: pointer;
}
.formField__button:hover {
  fill: var(--black-primary);
}
.formField__button_clear {
  top: 11px;
  width: 18px;
  height: 18px;
}
.formField__button_visibility {
  top: 8px;
  width: 24px;
  height: 24px;
}
.formField__arrow {
  top: 8px;
  width: 24px;
  height: 24px;
  transform: rotate(90deg);
}
.formField__arrow_active {
  transform: rotate(270deg);
}
