.formField {
  position: relative;
}
.formInput {
  width: 100%;
  height: 40px;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: var(--black-primary);
  border-radius: var(--border-radius-xxs);
  border: 1px solid var(--mask-black-thirdly);
  padding-left: 13px;
  padding-right: 40px;
  transition: 0.25s ease all;
}
.formInput:focus {
  font-family: 'Inter-Regular', sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: var(--black-primary);
  outline: 0;
  border: 1px solid var(--blue-primary);
}
.formInput::placeholder {
  font-family: 'Inter-Regular', sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: var(--mask-black-secondary);
  transition: 0.5s ease;
}
.formInput:focus::placeholder {
  color: transparent;
}
.formField__button {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 13px;
  fill: var(--mask-black-secondary);
  transition: 0.2s ease;
  cursor: pointer;
}
.formField__button:hover {
  fill: var(--black-primary);
}
.formField__button_clear {
  width: 18px;
  height: 18px;
}
.formField__button_visibility {
  width: 24px;
  height: 24px;
}
.formField__arrow {
  width: 24px;
  height: 24px;
  transform: rotate(90deg);
}
.formField__arrow_active {
  transform: rotate(270deg);
}
.formInput__error {
  position: absolute;
  bottom: -15px;
  left: 0;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 12px;
  color: var(--red-primary);
}
