:root {
  --black-primary: #1d293d;
  --white-primary: #ffffff;
  --blue-primary: #32608a;
  --blue-secondary: #6a91b5;
  /* --yellow-primary: #ffba00;
  --yellow-secondary: #fef3c6; */

  --mask-black-primary: rgb(29, 41, 61, 0.8);
  --mask-black-secondary: rgb(29, 41, 61, 0.6);
  --mask-black-thirdly: rgb(29, 41, 61, 0.4);
  --mask-black-fourthly: rgb(29, 41, 61, 0.2);
  --mask-black-fifthly: rgb(29, 41, 61, 0.1);

  /* --mask-blue-primary: rgb(50, 96, 138, 0.8);
  --mask-blue-secondary: rgb(50, 96, 138, 0.6);
  --mask-blue-thirdly: rgb(50, 96, 138, 0.4);
  --mask-blue-fourthly: rgb(50, 96, 138, 0.2);
  --mask-blue-fifthly: rgb(50, 96, 138, 0.1); */

  --border-radius-xxs: 4px;
  --border-radius-xs: 6px;
}
