@import './_fonts.css';
@import './_variables.css';
@import './_forms.css';

html {
  scroll-behavior: smooth;
}

body {
  background: var(--white-primary);
}

button {
  cursor: pointer;
}

*,
*::before,
*::after,
button,
ul,
li {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  background: none;
  border: none;
  list-style: none;
  text-decoration: none;
}
